
    <div class="card margin-bottom mb-6 margin-right mb-6">
        <div class="card-content">
          <li>
          <%= link_to producer_company.name, producer_company %>
          <em>(<%= pluralize producer_company.tool_count, "Product" %> EDIT IN _producer_company partial) </em>
          </li>
      </div>
    </div>
