<p class="mb-5">
  Found <%= pluralize(@tools.count, 'name') %> when searching for: <%= params[:search_term] %>
</p>

<ul>
  <% @tools.each do |tool| %>
    <li><%= link_to tool.name, tool %></li>
    <% end %>
</ul>




